test-results/*
downloadFolder/*

env_list.json
users_list.json
node_modules/*
loadUsers.sh
loadDevCloudtwo.sh
loadStaging.sh
dist/
.idea/
token.json
cloud-sql-proxy
@rerun.txt
application.log

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
rerun.txt
test-result/
invalidSheetNulisaData.xlsx
simpleCytofDataFile.xlsx
wrongSubIdWesBam.xlsx
wrongVersionWesBam.xlsx
NewAppendixA.xlsx
cytof_template.xlsx
failedServerSubmission.xlsx
dataFolder/**/~$*.xlsx
correctCyTofCukeTestTrial.xlsx
